#title {
    text-align: center;
}
#content{
    padding-top: 4em;
    margin-bottom: 3em;
}
h1{
    font-size: 3em;
}

h3{
    font-size: 2em;
}

#dbutton{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;

}